body{
	background-color: #333 ;
	padding: 0px;
	margin: 0px;
	color: #f1f1f1;
}

.banner {

	padding: 10px 0px;
}

.note h3{
	color: magenta ;
}

.note ul li{
	font-size: 1.3em;
	font-family: tahoma;
	padding: 5px 0px;
}